.modal {
  position: fixed;
  /* Растянуть на всё окно */
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  overflow-y: auto;
  display: none;
}

.modal_open {
  display: flex;
}

.modal__main {
  position: relative;
  cursor: default;
  margin: auto;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 8px;
  color: #B1B1B1;
  outline: 1px solid transparent;
  outline-offset: 4px;
}

.modal__close:focus-visible {
  color: var(--color-main-color);
  outline-color: var(--color-main-color);
}