.modal {
  position: fixed;
  /* Растянуть на всё окно */
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  overflow-y: auto;
  display: none;
}

.modal_open {
  display: flex;
}

.modal__main {
  cursor: default;
  margin: auto;
}

.modal__close {}