.modal-product {
  display: flex;
  background-color: #F9F9F9;
  width: 100%;
  min-height: 100%;
  padding: 32px 12px;
}

.modal-product__container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.modal-product__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
}

.modal-product__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.modal-product__image {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 16px;
}

.modal-product__description {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

.modal-product__ingredients {
  flex-grow: 1;
  margin-bottom: 16px;
}

.modal-product__footer {}

.modal-product__add {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.modal-product__btn {
  flex-grow: 1;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-accent);
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: white;
}

.modal-product__count {}

.modal-product__price {
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}

.currency {}

.modal-product__close {}