.modal-delivery {
  --gap: 8px;
  display: flex;
  background-color: #F9F9F9;
  width: 100%;
  min-height: 100%;
  padding: 32px 12px;
}

.modal-delivery__container {
  /* Прописано автоматом, так как родитель flex. Растягивает контейнер. */
  /* align-items: stretch; */
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.modal-delivery__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}

.modal-delivery__form {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* Прижимаю кнопку вниз */
  flex-grow: 1;
}

.modal-delivery__fieldset {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: var(--gap);
}

.modal-delivery__fieldset_radio {
  /* Сдеал клики именно по полям, а не по всей строке */
  flex-direction: column;
  align-items: flex-start;
}

.modal-delivery__fieldset_hide {
  visibility: hidden;
}

.modal-delivery__input {
  width: 100%;
  height: 28px;
  padding: 8px 12px;
  border: 1px solid #F2F2F3;
  color: black;
  border-radius: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
}

.modal-delivery__input::placeholder {
  color: #B1B1B1;
}

.modal-delivery__input_half {
  /* flex-basis: calc(50% - var(--gap) / 2); */
  flex-basis: calc((100% - var(--gap)) / 2);
}

.modal-delivery__label {
  /* padding-left: 20px; */
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.modal-delivery__radio {
  position: relative;
  width: 12px;
  appearance: none;
}

.modal-delivery__radio::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #F2F2F3;
  border-radius: 50%;
}

.modal-delivery__radio::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  left: 50%;
  /* transform: translateX(-50%); */
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-main-color);
  opacity: 0;
}

.modal-delivery__radio:checked::after {
  opacity: 1;
}

.modal-delivery__submit {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-accent);
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: white;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.4s ease-in-out;
}

.modal-delivery__submit:hover {
  background-color: var(--color-main-color);
}

/* Лучше использовать focus-visible вместо focus */
.modal-delivery__submit:focus-visible {
  background-color: #F86310;
}

.modal-delivery__submit:active {
  transform: translate(1px, 2px);
}

.modal-delivery__submit:disabled {
  background-color: #F9F9F9;
  color: #ACACAC;
}

/* Если не поддерживается браузером focus-visible */
@supports not selector(:focus-visible) {
  .modal-delivery__submit:focus {
    background-color: #F86310;
  }
}

@media (min-width: 480px) {
  .modal-delivery {
    padding: 20px 16px 28px;
    max-width: 524px;
    min-height: auto;
    border-radius: 24px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  }

  .modal-delivery__container {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {

  /* Это было интересно */
  .modal-delivery {
    padding: 44px 24px 24px 364px;
    max-width: 684px;
    border-radius: 24px;
    background: url('../img/donut.svg') 20px center, linear-gradient(to right, var(--color-main-color) 50%, white 50%);
    background-repeat: no-repeat;
    background-size: 300px, auto;
  }

  .modal-delivery__title {
    font-size: 24px;
  }

  .modal-delivery__form {
    margin-bottom: 32px;
    gap: 16px;
  }

  .modal-delivery__fieldset_radio {
    gap: 12px;
  }

  .modal-delivery__label {
    font-size: 12px;
    line-height: 16px;
  }

  .modal-delivery__input {
    padding: 12px;
    height: 40px;
    font-size: 12px;
  }

  .modal-delivery__submit {
    padding: 12px;
    font-size: 16px;
  }
}