.modal-product {
  display: flex;
  background-color: #F9F9F9;
  width: 100%;
  min-height: 100%;
  padding: 32px 12px;
}

.modal-product__container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.modal-product__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
}

.modal-product__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px
}

.modal-product__image {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 16px;
}

.modal-product__description {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

.modal-product__ingredients {
  flex-grow: 1;
  margin-bottom: 16px;
}

.modal-product__add {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px 8px;
}

.modal-product__btn {
  flex-grow: 1;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-accent);
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: white;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.4s ease-in-out;
}

.modal-product__price {
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}

.modal-product__btn:hover {
  background-color: var(--color-main-color);
}

/* Лучше использовать focus-visible вместо focus */
.modal-product__btn:focus-visible {
  background-color: #F86310;
}

.modal-product__btn:active {
  transform: translate(1px, 2px);
}

.modal-product__btn:disabled {
  background-color: #F9F9F9;
  color: #ACACAC;
}

/* Если не поддерживается браузером focus-visible */
@supports not selector(:focus-visible) {
  .modal-product__btn:focus {
    background-color: #F86310;
  }
}

@media (min-width: 480px) {
  .modal-product {
    padding: 16px 16px 24px 16px;
    max-width: 524px;
    min-height: auto;
    width: 100%;
    border-radius: 24px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  }

  .modal-product__container {
    max-width: unset;
  }

  .modal-product__title {
    margin-bottom: 16px;
  }

  .modal-product__content {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-template-rows: min-content 1fr;
  }

  .modal-product__image {
    margin-bottom: 0;
    grid-row: 1 / -1;
  }

  .modal-product__description {
    grid-row: 1 / 1;
    margin-bottom: 0;
  }

  .modal-product__ingredients {
    grid-row: 2 / 3;
    margin-bottom: 0;
  }

  .modal-product__add {
    margin-bottom: 0;
  }

  .modal-product__btn {
    flex-grow: unset;
    width: 228px;
  }

  .modal-product__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .modal-product {
    max-width: 684px;
    padding: 24px 24px 36px;
  }

  .modal-product__title {
    margin-bottom: 24px;
    font-size: 40px;
  }

  .modal-product__content {
    margin-bottom: 36px;
    grid-template-columns: 272px 1fr;
    gap: 8px 16px;
  }

  .modal-product__description {
    font-size: 16px;
  }

  .modal-product__add {
    margin-bottom: 0;
  }

  .modal-product__btn {
    padding: 12px;
    width: 272px;
  }

  .modal-product__price {
    font-size: 24px;
  }
}